<link rel="stylesheet" href="/stylesheets/partials/navbar.css">
<nav class="navbarFlicket d-flex align-items-center  justify-content-between">
    <p class="logoFormat">Flicket</p>
    <ul class="nav menu_nav">
        <li class="nav-item">
            <!-- Default dropright button -->
            <div class="btn-group dropright">
                <button type="button" class="btn format dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    VND
                </button>
                <div class="dropdown-menu">
                    <a class="btn format dropdown-item text-center" href="#" style="color: #b3ccff;">VND</a>
                    <a class="btn format dropdown-item text-center" href="#"  style="color: #b3ccff;">USD</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <button type="button" class="btn format ml5">Đăng nhập</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn format ml5">Đăng kí</button>
        </li>
    </ul>
</nav>