<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/pages/admin/admin-style.css">
    <link rel="stylesheet" href="/stylesheets/pages/admin/dataTables.css">
    <link rel="stylesheet" href="/stylesheets/pages/admin/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {{{_sections.css}}}
</head>
<body onload="closeCollapse()">
    <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" >
      <div class="navbar-brand-wrapper d-flex justify-content-center" style="background-color: #ffff !important;">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" style="color: #721777;"href="/admin/dashboard/">Flicket Admin</a>
          <button class="navbar-toggler navbar-toggler align-self-center" style="margin-left: 27px;" type="button" data-toggle="minimize">
            <span><i class="fas fa-bars" style="color: #721777;"></i></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2 d-flex align-items-end">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <i class="far fa-user"></i>
              <span class="nav-profile-name" style="color: #721777;font-weight: bold;">Your Account</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/admin/change-pass/">
                  <i class="fas fa-cog"></i>
                Đổi mật khẩu
              </a>
              
              <a class="dropdown-item" href="/admin/logout/">
                  <i class="fas fa-power-off"></i>
                Đăng xuất
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <i class="fas fa-cog"></i>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" >
          <nav class="sidebar" id="sidebar">
              <ul class="nav" >
                <li class="nav-item">
                  <a class="nav-link" href="/admin/dashboard/">
                    <i class=" menu-icon fas fa-tv"></i>
                    <span class="menu-title">Dashboard</span>
                  </a>
                </li>
                <!--Admin-->
                <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="#ui-admin" role="button" aria-expanded="false" aria-controls="ui-basic">
                    <i class=" menu-icon fas fa-user-cog"></i>
                    <span class="menu-title">Admin</span>
                    <i class = "menu-arrow fas fa-plus"></i>
                  </a>
                  <div class="collapse" id="ui-admin">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item"> <a class="nav-link" href="/admin/admin/index/">Danh sách</a></li>
                      <li class="nav-item"> <a class="nav-link" href="/admin/admin/add/">Thêm</a></li>
                    </ul>
                  </div>
                </li>

                <!--Thong tin khach hang giao dich-->
                <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="#ui-khachhang" aria-expanded="false" aria-controls="ui-basic">
                      <i class="menu-icon fas fa-users"></i>
                    <span class="menu-title">Khách hàng</span>
                    <i class = "menu-arrow fas fa-plus"></i>
                  </a>
                  <div class="collapse" id="ui-khachhang">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item"> <a class="nav-link" href="/admin/customer/index/">Danh sách</a></li>
                      <li class="nav-item"> <a class="nav-link" href="/admin/customer/search/">Tìm kiếm</a></li>
                      <li class="nav-item"> <a class="nav-link" href="/admin/customer/add/">Thêm</a></li>
                     
                    </ul>
                  </div>
                </li>
      
                  <!--Thanh vien-->
      
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-thanhvien" aria-expanded="false" aria-controls="ui-basic">
                      <i class=" menu-icon fas fa-user-tie"></i>
                      <span class="menu-title">Thành Viên</span>
                      <i class = "menu-arrow fas fa-plus"></i>
                    </a>
                    <div class="collapse" id="ui-thanhvien">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/admin/member/index/">Danh sách</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/admin/member/search/">Tìm kiếm</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/admin/member/add/">Thêm</a></li>
                       
                      </ul>
                    </div>
                  </li>
                    
                  <!--Chuyen Bay-->
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-chuyenbay" aria-expanded="false" aria-controls="ui-basic">
                      <i class=" menu-icon fas fa-plane"></i>
                      <span class="menu-title">Chuyến Bay</span>
                      <i class = "menu-arrow fas fa-plus"></i>
                    </a>
                    <div class="collapse" id="ui-chuyenbay">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/admin/flight/index/">Danh sách</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/admin/flight/search/">Tìm kiếm</a></li>
                      </ul>
                    </div>
                  </li>
                  
                  <!--Hang hang khong-->
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-hanghangkhong" aria-expanded="false" aria-controls="ui-basic">
                      <i class="menu-icon fab fa-sketch"></i>
                      <span class="menu-title">Hãng hàng không</span>
                      <i class = "menu-arrow fas fa-plus"></i>
                    </a>
                    <div class="collapse" id="ui-hanghangkhong">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/admin/airlines/">Danh sách</a></li>
                      </ul>
                    </div>
                  </li>
              </ul>
            </nav>
      {{{body}}}
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script>
    function closeCollapse(){
      var collapse = document.getElementsByClassName("collapse");
      collapse[0].collapse('hide');
      collapse.forEach(function(item){
        item.collapse('hide');
      }
      );
    }
  </script>
  <script src="/javascripts/admin/vendor.js"></script>
  <script src="/javascripts/admin/hoverable-collapse.js"></script>
  <script src="/javascripts/admin/template.js"></script>
  <script src="/javascripts/admin/jquery.js"></script>
  <script src="/javascripts/admin/dataTables.js"></script>
  <script src="/javascripts/admin/data-table.js"></script>
  {{{_sections.js}}}
</body>
</html>