<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="/stylesheets/pages/guest/pretty-checkbox.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/pages/guest/main.css">
    <link href="/stylesheets/pages/guest/datepicker.css" rel="stylesheet" type="text/css">
    {{{_sections.css}}}
  </head>
  <body>
          {{{body}}}
   
    
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/guest/datepicker.js"></script>
    <script src="/javascripts/guest/datepicker.en.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
    <script src="/javascripts/guest/progressbar.js"></script>
    <script src="/javascripts/guest/main.js"></script>
    {{{_sections.js}}}
  </body>
</html>
