    <nav class="navigation-bar" style="position: fixed;" id="navigation-bar2">
        <a class="brand-logo" href="#">
            <img src="/images/guest/logo/Flicket2.png" width="100" height="auto">
        </a>
        <div class="navbar-content">
            <div id="stages-container">
                <div class="stage-element">
                    <div class="index-stage index-active">1</div>
                    <div class="stage-name stage-name-active">Đặt chỗ</div>
                </div>
                <div class="stage-separator"></div>
                <div class="stage-element">
                    <div class="index-stage">2</div>
                    <div class="stage-name">Thanh toán</div>
                </div>
                <div class="stage-separator"></div>
                <div class="stage-element">
                    <div class="index-stage">3</div>
                    <div class="stage-name">Xử lý</div>
                </div>
                <div class="stage-separator"></div>
                <div class="stage-element">
                    <div class="index-stage">4</div>
                    <div class="stage-name">Phát hành vé điện tử</div>
                </div>
            </div>
    </nav>
    <div class="header-bg-container">
        <img src="/images/guest/header_bg.png" width="auto" height="170px">
    </div>