<nav class="navigation-bar" style="position: fixed;" id="navigation-bar2">
    <a class="brand-logo" href="#">
        <img src="/images/guest/logo/Flicket2.png" width="100" height="auto">
    </a>
    <div class="navbar-content">
        <div class="navbar-item">
            <select class="custom-select custom-select2">
                <option value="" selected>VND</option>
                <option value="">USD</option>
            </select>
        </div>
        <div class="navbar-item signIn-container">
            <a class="nav-link main-signInBTN2" href="#" style="color:#7A9ED5">Đăng nhập</a>
            <div id="signIn-model2">
                <form>
                    <p class="signInTitle2">Đăng nhập tài khoản</p>
                    <label class="signInsubTitle2" for="emailSignInInput">Email</label>
                    <input type="text" class="signInInput2" id="emailSignInInput" required>
                    <label class="signInsubTitle2" for="passwordSignInInput">Password</label>
                    <input type="text" id="passwordSignInInput" class="signInInput2" required>
                    <button type="submit" class="btn-signIn">Đăng nhập</button>
                </form>
            </div>
        </div>
        <div class="navbar-item">
            <div id="signUp">
                <a class="nav-link" href="#" style="color:#7A9ED5">Đăng ký</a>
            </div>
        </div>
    </div>
</nav>
<div class="header-bg-container">
    <img src="/images/guest/header_bg.png" width="auto" height="170px">
</div>