    <nav class="navigation-bar" style="position: fixed;" id="navigation-bar2">
        <a class="brand-logo" href="#">
            <img src="/images/guest/logo/Flicket2.png" width="100" height="auto">
        </a>
        <div class="navbar-content">
            <div class="navbar-item">
                <select class="custom-select custom-select2">
                    <option value="" selected>VND</option>
                    <option value="">USD</option>
                </select>
            </div>
            <div class="navbar-item">
                <div class="user-btn">
                    <img src="/images/guest/users1.png" height="12px" width="auto">
                    <span>Nguyen Van A</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="header-bg-container">
        <img src="/images/guest/header_bg.png" width="auto" height="170px">
    </div>