<nav class="navigation-bar" style="position: fixed;" id="navigation-bar2">
    <a class="brand-logo" href="/guest">
        <img src="/images/guest/logo/Flicket2.png" width="100" height="auto">
    </a>
    <div class="navbar-content">
        
        <div class="navbar-item" id="user-btn-container">
            <div class="user-btn">
                <img src="/images/guest/users1.png" height="12px" width="auto">
                <span>Nguyen Van A</span>
            </div>
        </div>
        <div id="user-instant-panel-container">
            <div id="user-instant-panel">
                <div class="user-instant-panel-element">
                    <span>Tùy chỉnh</span>
                    <img src="/images/guest/edit.png">
                </div>
                <div class="user-instant-panel-element">
                    <span>Đăng xuất</span>
                    <img src="/images/guest/exit.png">
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="header-bg-container">
    <img src="//images/guest/guest/header_bg.png" width="auto" height="170px">
</div>