<link rel="stylesheet" href="/stylesheets/pages/admin/form-style.css">

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card d-flex flex-column justify-content-center">
            <div class="card-body d-flex justify-content-center ">
                <div class="contact1-form validate-form" style="width: 1000px;">
                    <span class="contact1-form-title">
                        Chỉnh sửa thông tin khách hàng
                    </span>
                    <div class="" >
                        <span style="margin-left: 200px;"><i class="fas fa-id-badge" style="margin-right: 5px;"></i>ID:</span>   
                        <div class="wrap-input1 validate-input d-flex justify-content-center align-items-center" >
                            
                            <input class="input1" type="text" disabled  value="1" style="width:500px; ">
                            <span class="shadow-input1"></span>
                        </div>
                    </div>
                    <div class="">
                        <span style="margin-left: 200px;"><i class="fas fa-signature" style="margin-right: 5px;"></i>Họ tên:</span>
                        <div class="wrap-input1 validate-input d-flex justify-content-center align-items-center" >   
                            <input class="input1" type="text"  value="Nguyễn Công Hưng" style="width:500px; ">
                        </div>
                    </div>
                    <div class=""> 
                            <span style="margin-left: 200px;"><i class="far fa-envelope" style="margin-right: 5px;"></i>Email:</span>
                            <div class="wrap-input1 validate-input d-flex justify-content-center align-items-center">
                                <input class="input1" type="email" value="nchconghung@gmail.com" style="width:500px; " >
                            </div>
                    </div>
                    <div class="">
                        <span style="margin-left: 200px;"><i class="fas fa-phone" style="margin-right: 5px;"></i>SĐT:</span>
                        <div class="wrap-input1 validate-input d-flex justify-content-center align-items-center">
                            <input class="input1" type="text" value="0969327333" style="width:500px; " >
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button class="contact1-form-btn" type="submit" style="margin-right: 30px;">
                            <span>
                                Cập nhật
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                        <button class="contact1-form-btn" type="submit">
                            <span>
                                Trở về
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
        </div>
    </div>
</div>



