<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <div style="display: flex;justify-content: space-between;align-items: baseline;">
                    <h3 class="card-title">Danh sách khách hàng</h3>
                    <button class="btn btn-infor">Thêm khách hàng</button>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                        <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                            <div class="col-sm-12">
                            <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 63px;font-weight: bold;" aria-sort="ascending" >#</th>
                                <th  class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 79px;font-weight: bold;" >CMND</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 54px;font-weight: bold;" >Họ tên</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Thành Viên</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Vé đặt hiện tại</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Email</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >SĐT</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Giới tính</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Ngày Sinh</th>
                                <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Công cụ</th>
                            </tr>
                            </thead>
                            <tbody>    
                                <tr role="row" >
                                        <td class="sorting_1">1</td>           
                                        <td>281144960</td>
                                        <td>Nguyễn Công Hưng</td>
                                        <td>
                                            <a class="badge badge-info" href="#" style="font-weight: bold;font-size:13px;">Xem chi tiết</a>
                                        </td>
                                        <td>45238</td>
                                        <td>nchconghung@gmail.com</td>
                                        <td>0969327333</td>
                                        <td>Nam</td>
                                        <td>01-06-1998</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Lựa chọn
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Xem vé hiện tại</a>
                                                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Xóa</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                       
                                {{#each list}}
                                    <tr role="row" >
                                        <td class="sorting_1">1</td>           
                                        <td>281144960</td>
                                        <td>Nguyễn Công Hưng</td>
                                        <td>
                                            <a class="badge badge-info" href="#" style="font-weight: bold;font-size:13px;">Xem</a>
                                        </td>
                                        <td>12</td>
                                        <td>nchconghung@gmail.com</td>
                                        <td>0969327027</td>
                                        <td>Nam</td>
                                        <td>27-08-1998</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Xem chi tiết vé</a>
                                                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Xóa</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
