<link rel="stylesheet" href="/stylesheets/pages/admin/form-style.css">
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function(){
        $('#addForm').validate({
            rules:{
                TaiKhoan: {
                    required: true,
                    remote: {
                        url: '/guest/is-available-username'
                    }
                },
                MatKhau: {
                    required: true,
                    minlength: 6
                },
                Confirm: {
                    required: true,
                    equalTo: "#pass"
                },
                DiemThuong: {
                    min: 0
                }
            },
            messages:{
                TaiKhoan: {
                    required: 'Tài khoản cần được nhập',
                    remote: 'Tài khoản này đã bị đăng kí'
                },
                MatKhau: {
                    required: 'Mật khẩu cần được nhập',
                    minlength: 'Mật khẩu ít nhất 6 kí tự'
                },
                Confirm: {
                    required: 'Vui lòng xác nhận mật khẩu',
                    equalTo: 'Không trùng với mật khẩu'
                },
                DiemThuong: {
                    min: 'Nhỏ nhất là 0'
                }
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function(e){
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function(e){
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
{{/section}}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card d-flex flex-column justify-content-center">
            <div class="card-body d-flex justify-content-center">
                 <span class="contact1-form-title">
                        Thêm mới thành viên
                </span>
            </div>
            <div class="card-body d-flex justify-content-center">
                <form class=" contact1-form  validate-form" action="/admin/member/insert/" method="POST" id="addForm">
                    <div class="wrap-input1 validate-input">
                        <input class="input1" type="text" name="TaiKhoan" placeholder="Tài khoản" focus >
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" >
                        <input class="input1" type="password" name="MatKhau" id="pass" placeholder="Mật khẩu" >
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" >
                        <input class="input1" type="password" name="Confirm" placeholder="Xác nhận mật khẩu" >
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" >
                        <input class="input1" type="text" name="DiemThuong" placeholder="Điểm thưởng" >
                        <span class="shadow-input1"></span>
                    </div>
            
                    <div class="container-contact1-form-btn">
                        <button class="contact1-form-btn" type="submit">
                            <span>
                                Tạo mới
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



