{{> "guest/header"}}
<div class="journey-info-container">
    <div class="main-table-container">
        <div class="main-table-title">
            <img src="/images/guest/main-table-title.png" width="100%" height="auto">
            <p>Thông tin chuyến bay</p>
        </div>
        <div class="main-table-content">
            <div class="single-info">
                <p class="category">Lộ trình</p>
                <div class="detail">
                    <div class="depart-info">
                        <p style="font-weight: 500;">Da Lat</p>
                        <p>12:45</p>
                    </div>
                    <div class="arrow1">
                        <p> → </p>
                    </div>
                    <div class="arrival-info">
                        <p style="font-weight: 500;">Hanoi</p>
                        <p>14:35</p>
                    </div>
                </div>
            </div>
            <div class="single-info">
                <p class="category">Thời gian</p>
                <div class="detail">
                    <p>15/05/2019</p>
                </div>
            </div>
            <div class="single-info">
                <p class="category">Máy bay</p>
                <div class="detail">
                    <div class="img-airline">
                        <img src="/images/guest/VietJet.png" height="25px" width="auto">
                    </div>
                    <p class="airplane-id">VietJet BL-244</p>

                </div>
            </div>
            <div class="single-info">
                <p class="category">Hạng ghế</p>
                <div class="detail">
                    <p>Phổ thông</p>
                </div>
            </div>
            <div class="single-info">
                <p class="category">Hành khách</p>
                <div class="detail-last">
                    <div class="passenger-info">
                        <p class="type-of-passenger">Người lớn</p>
                        <p>x1</p>
                    </div>
                    <div class="passenger-info">
                        <p class="type-of-passenger">Trẻ em</p>
                        <p>x1</p>
                    </div>
                    <div class="passenger-info">
                        <p class="type-of-passenger">Em bé</p>
                        <p>x1</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="sub-table">
        <div class="second-table">
            <div class="image-title-second-table">
                <img src="/images/guest/second-table-title.png" height="auto" width="100%">
                <p id="second-table-title">Tóm tắt</p>
            </div>
            <div class="second-table-content">
                <div class="second-table-inner-content">
                    <span class="second-table-type">Vietjet (Người lớn)</span>
                    <span class="second-table-quantity">1</span>
                    <span class="second-table-price">VND 1.554.720</span>
                </div>
                <div class="second-table-inner-content" id="second-table-middle">
                    <span class="second-table-type">Vietjet (Trẻ em)</span>
                    <span class="second-table-quantity">1</span>
                    <span class="second-table-price">VND 1.514.485</span>
                </div>
                <div class="second-table-inner-content">
                    <span class="second-table-type">Vietjet (Em bé)</span>
                    <span class="second-table-quantity">1</span>
                    <span class="second-table-price">VND 109.205</span>
                </div>
            </div>
            <div class="second-table-total">
                <span>Giá bạn trả</span>
                <span>VND 3.178.410</span>
            </div>
        </div>
        <div class="continue-container">
            <img src="/images/guest/continue-img.png" height="238px" width="auto">
            <button id="btn-next-second-table">Tiếp tục</button>
        </div>
    </div>
</div>
{{> "guest/footer"}}