{{> "guest/header_stages"}}
<div id="processing-container">
    <div id="processing-title">
        <span>Chuyến bay của bạn đang được xử lý<br>Vui lòng đợi trong giây lát </span>
    </div>
    <img src="/images/guest/amap_.gif" id="processing-img">
</div>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
<script>
    $("#stage-three-num").addClass("index-active");
    $("#stage-three-text").addClass("stage-name-active");
    window.setTimeout(function(){
        window.location.href = "/guest/ticket";
    }, 5000);
</script>
{{> "guest/footer"}}