{{> "guest/header_stages"}}
<div id="ticket-info-container">
        <div id="ticket-announcement">
            <span>Vé điện tử của bạn đã được gửi vào email</span>
            <span>Vui lòng kiêm tra hộp thư của bạn </span>
        </div>
        <div id="ticket-button">
            <button id="download-ticket">Tải xuống thông tin đơn hàng</button>
            <button id="homepage-btn">Trang chủ</button>
        </div>
        <div id="ticket-document">
            <div class="whole-container">
                <span class="ticket-big-title">ITENERARY/RECEIPT</span>
                <span class="ticket-big-title">HÀNH TRÌNH/PHIẾU THU</span>
                <span id="ticket-booking-id">Mã đặt chỗ: <span>123123123</span> </span>
                <span id="booking-success">GIỮ CHỖ THÀNH CÔNG</span>
                <span class="ticket-sub-title">Chi tiết chuyến bay</span>
            </div>
            <div id="ticket-flight-detail-box">
                <div id="grey-section-table">
                    <div id="grey-section1">
                        <span>Chuyến đi: DaLat,VN → Hanoi,VN</span>
                        <span>Thời gian bay: 1h25m</span>
                    </div>
                    <div class="whole-container">
                        <span>Mã đặt chỗ: 123123123</span>
                    </div>
                </div>
                <div id="ticket-flight-detail-row">
                    <div class="ticket-flight-detail-col">
                        <span class="ticket-flight-detail-title">Chặng 1</span>
                        <span class="ticket-flight-detail-detail">Vietjet Air</span>
                    </div>
                    <div class="ticket-flight-detail-col">
                        <span class="ticket-flight-detail-title">Da Lat (DLI)</span>
                        <span class="ticket-flight-detail-detail">18h30m: 25/05/2019</span>
                    </div>
                    <div class="ticket-flight-detail-col">
                        <span class="ticket-flight-detail-title">Hanoi (HAN)</span>
                        <span class="ticket-flight-detail-detail">21h30m: 25/05/2019</span>
                    </div>
                    <div class="ticket-flight-detail-col" style="align-items: flex-end">
                        <span class="ticket-flight-detail-detail">Chuyến bay: <span
                                class="ticket-flight-detail-title">VJ321</span></span>
                        <span class="ticket-flight-detail-detail">Hạng chỗ: <span
                                class="ticket-flight-detail-title">Eco</span></span>
                    </div>
                </div>
            </div>
            <div class="whole-container">
                <span class="ticket-sub-title">Chi tiết chuyến bay</span>
            </div>
            <div id="ticket-passenger-info-box">
                <div class="row" id="ticket-passenger-info-title">
                    <div class="col-2">STT</div>
                    <div class="col-4">Họ và tên</div>
                    <div class="col-2">Ngày sinh</div>
                    <div class="col-4 text-end">Giá vé</div>
                </div>
                <div class="ticket-passenger-info-element row">
                    <div class="col-2">1</div>
                    <div class="col-4">NGUYEN VAN A</div>
                    <div class="col-2">01/01/1990</div>
                    <div class="col-4 text-end">VND 1.200.00</div>
                </div>
                <div class="ticket-passenger-info-element row">
                    <div class="col-2">2</div>
                    <div class="col-4">NGUYEN VAN B</div>
                    <div class="col-2">02/12/1982</div>
                    <div class="col-4 text-end">VND 1.200.00</div>
                </div>
            </div>
            <div id="ticket-passenger-info-total">
                <span id="ticket-total-title">Tổng tiền:</span>
                <span id="ticket-total-price">VDN 2.400.000</span>
            </div>
            <div class="whole-container">
                <span class="ticket-sub-title">Thông tin liên hệ</span>
            </div>
            <div id="ticket-contact-info">
                <div class="ticket-contact-info-element">
                    <span><b>Họ và tên</b></span>
                    <span>NGUYEN VAN A</span>
                </div>
                <div class="ticket-contact-info-element">
                    <span><b>Số điện thoại</b></span>
                    <span>+84381231231</span>
                </div>
                <div class="ticket-contact-info-element">
                    <span><b>Email</b></span>
                    <span>email@example.com</span>
                </div>
                <div class="ticket-contact-info-element">
                    <span><b>Phương thức thanh toán</b></span>
                    <span>Thẻ tín dụng</span>
                </div>
            </div>
            <div id="ticket-additional-info">
                <span class="ticket-document-title">1/ Thời gian có mặt tại sân bay làm thủ tục Checkin</span>
                <span class="ticket-document-detail">A/ Vé Quốc Nội</span>
                <span class="ticket-document-detail">- Có mặt trước 90 phút trước giờ khởi hành</span>
                <span class="ticket-document-detail">- Có mặt trước 180 phút đối với mùa cao điểm lễ tết</span>
                <span class="ticket-document-detail">B/ Vé Quốc Tế</span>
                <span class="ticket-document-detail">- Có mặt trước 120 phút trước giờ khởi hành</span>
                <span class="ticket-document-detail">- Có mặt trước 180 phút đối với mùa cao điểm lễ tết</span>
                <span class="ticket-document-title">2/ Giấy tờ cần thiết</span>
                <span class="ticket-document-detail">A/ Vé Quốc Nội (chấp nhận một trong các loại giấy tờ sau</span>
                <span class="ticket-document-detail">- Hộ chiếu còn hạn trên 6 tháng tính đến ngày kết thúc hành trình</span>
                <span class="ticket-document-detail">- CMND còn hạn trong vòng 15 năm rõ hình rõ chữ. Căn cước công dân còn hạn rõ hình rõ chữ</span>
                <span class="ticket-document-detail">- Giấy phép lái xe bản chính còn hạn sử dụng rõ hình rõ chữ</span>
                <span class="ticket-document-detail">- Đối với trẻ em dưới 14 tuổi: Giấy khai sinh bản chính (hoặc bản sao trích lục, không chấp nhận giấy photocopy công chứng)</span>
                <span class="ticket-document-detail">- Giấy xác nhận nhân thân (Mẫu hàng không)</span>
                <span class="ticket-document-detail">B/ Vé Quốc Tế</span>
                <span class="ticket-document-detail">- Hộ chiếu còn hạn trên 6 tháng tính đến ngày kết thúc hành trình</span>
                <span class="ticket-document-detail">- Visa nhập cảnh nước đến (nếu có)</span>
                <span class="ticket-document-detail">- Đối với khách đi du lịch, hải quan có thể kiểm tra tiền xách tay, quý khách lưu ý chuẩn bị tiền xách tay khoảng 200 USD/ngày</span>                
            </div>
            <div id="company-detail">
                <span class="ticket-document-detail">FLICK.COM.VN</span>
                <span class="ticket-document-title">CÔNG TY TNHH LỮ HÀNH FLICKET</span>
                <span class="ticket-document-detail">MST: <span class="ticket-document-title">0123123123</span></span>
                <span class="ticket-document-detail">Địa chỉ: 123 Nguyễn Văn Cừ, Quận 5, TP HCM</span>
                <span class="ticket-document-detail">Hotline: <span class="ticket-document-title">+8431231231</span></span>
                <span class="ticket-document-title">Website: https://www.flicket.com.vn</span>
                <span class="ticket-document-title">Email: xacnhandatveflicket@gmail.com</span>
            </div>
        </div>
    </div>
{{> "guest/footer"}}