<div class="modal-container">
    <div class="gray-background"></div>
    <div class="flight-detail-container" style="width: 450px;">
        <div class="flight-detail-title" style="border: none;">
            <span>Chi tiết đặt chỗ</span>
        </div>
        <div id="modal-menu-bar">
            <div class="modal-menu-bar-option modal-menu-bar-option-active" id="flight-info-model3-btn">
                <img class="modal-menu-bar-icon" src="/images/guest/airplane.png">
                <span class="modal-menu-bar-title">Chuyến bay</span>
            </div>
            <div class="modal-menu-bar-option" id="payment-info-model3-btn">
                <img class="modal-menu-bar-icon" src="/images/guest/money.png">
                <span class="modal-menu-bar-title">Thanh toán</span>
            </div>
        </div>
        <div id="modal2-content-container">
            <div class="modal2-content-element" id="flight-modal3-info">
                <div class="flight-model3-info-record">
                    <span class="flight-model3-info-title">Mã đặt vé</span>
                    <span class="flight-model3-info-detail flight-model3-code">123123123</span>
                </div>
                <div class="flight-model3-info-record" style="align-items: flex-start">
                    <span class="flight-model3-info-title">Hãng máy bay</span>
                    <div class="modal3-arline-info">
                        <span class="flight-model3-info-detail">Vietjet</span>
                        <img src="/images/guest/VietJet.png" height="25px" width="auto">
                    </div>
                </div>
                <div class="flight-model3-info-record">
                    <span class="flight-model3-info-title">Máy bay</span>
                    <span class="flight-model3-info-detail">Airbus A320</span>
                </div>
                <div class="flight-model3-info-record">
                    <span class="flight-model3-info-title">Lộ trình</span>
                    <span class="flight-model3-info-detail">Da Lat → Hanoi</span>
                </div>
                <div class="flight-model3-info-record">
                    <span class="flight-model3-info-title">Thời gian</span>
                    <span class="flight-model3-info-detail">04/05/2019</span>
                </div>
                <div class="flight-model3-info-record" style="align-items: flex-start;">
                    <span class="flight-model3-info-title">Hành khách</span>
                    <div class="modal3-arline-info">
                        <span class="flight-model3-info-detail">Người lớn x<span class="modal3-quantity">1</span></span>
                        <span class="flight-model3-info-detail">Trẻ em x<span class="modal3-quantity">1</span></span>
                        <span class="flight-model3-info-detail">Em bé x<span class="modal3-quantity">1</span></span>
                    </div>
                </div>
            </div>

            <div class="modal2-content-element" id="payment-modal3-info" style="display:none">
                <div class="payment-model3-info-record row">
                    <div class="col-5">
                        <span>Vietjet (Người lớn)</span>
                    </div>
                    <div class="col-2 payment-model3-center">
                        <span>1</span>
                    </div>
                    <div class="col-5 payment-model3-last">
                        <span>VND 1.554.720</span>
                    </div>
                </div>
                <div class="payment-model3-info-record row">
                    <div class="col-5">
                        <span>Vietjet (Trẻ em)</span>
                    </div>
                    <div class="col-2 payment-model3-center">
                        <span>1</span>
                    </div>
                    <div class="col-5 payment-model3-last">
                        <span>VND 1.514.485</span>
                    </div>
                </div>
                <div class="payment-model3-info-record row">
                    <div class="col-5">
                        <span>Vietjet (Em bé)</span>
                    </div>
                    <div class="col-2 payment-model3-center">
                        <span>1</span>
                    </div>
                    <div class="col-5 payment-model3-last">
                        <span>VND 109.205</span>
                    </div>
                </div>
                <div class="payment-model3-info-record">
                    <div id="modal3-line"></div>
                </div>
                <div class="payment-model3-info-record-total row">
                    <div class="col-6">
                        <span>Tổng tiền</span>
                    </div>
                    <div class="col-6 payment-model3-last modal-3-total-price">
                        <span>VND 109.205</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> "guest/header_user"}}
<div id="user-account-main-container">
    <div id="user-account-container" class="row">
        <div class="col-3" id="user-account-menu">
            <div class="user-account-menu-option user-account-menu-option-active" id="user-account-edit-profile-option">
                <img src="/images/guest/user3.png">
                <span class="user-account-menu-option-info">Chỉnh sửa thông tin</span>
            </div>
            <div class="user-account-menu-option" id="user-account-transaction-history-option">
                <img src="/images/guest/newspaper.png">
                <span class="user-account-menu-option-info">Lịch sử giao dịch</span>
            </div>
            <div class="user-account-menu-option" id="user-account-my-reservation-option">
                <img src="/images/guest/calendar.png">
                <span class="user-account-menu-option-info">Đặt chỗ của tôi</span>
            </div>
            <div class="user-account-menu-option" id="user-account-my-point-option">
                <img src="/images/guest/star.png">
                <span class="user-account-menu-option-info">Điểm thưởng</span>
            </div>
            {{!-- <div class="user-account-menu-option">
                <img src="/images/guest/credit-card.png">
                <span class="user-account-menu-option-info">Thẻ của tôi</span>
            </div> --}}
            <div class="user-account-menu-option">
                <img src="/images/guest/exit.png">
                <span class="user-account-menu-option-info">Đăng xuất</span>
            </div>
        </div>
        <div class="col-9" id="user-account-content">
            <div class="user-account-content-element" id="edit-profile-interface">
                <form action="/guest/user" method="POST" id="payment-form">
                    <label style="margin-bottom: 10px;font-size: 17px;font-weight: 500;color: #7A9ED5;">Thông tin cá
                        nhân</label>
                    <div class="edit-profile-input">
                        <label for="txtUserName">Họ và tên</label>
                        <input type="text" id="txtUserName" placeholder="Nguyen Van A" required>
                    </div>
                    <div class="edit-profile-input">
                        <label for="txtEmail">Email</label>
                        <input type="email" id="txtEmail" placeholder="email@example.com" required>
                    </div>
                    <div class="edit-profile-input">
                        <label for="txtPhone">Số điện thoại</label>
                        <input type="tel" id="txtPhone" name="txtPhone" required>
                    </div>
                    <div class="edit-profile-input">
                        <span id="password-edit-title">Mật khẩu</span>
                        <span id="password-edit-button">Thay đổi</span>
                    </div>
                    <div id="password-edit-container">
                        {{!-- <div class="edit-profile-input">
                            <label for="txtFormerPassword">Mật khẩu cũ</label>
                            <input type="password" id="txtFormerPassword" required>
                        </div>
                        <div class="edit-profile-input">
                            <label for="txtNewPassword">Mật khẩu mới</label>
                            <input type="password" id="txtNewPassword" required>
                        </div>
                        <div class="edit-profile-input">
                            <label for="txtConfirmPassword">Xác nhận mật khẩu mới</label>
                            <input type="password" id="txtConfirmPassword" required>
                        </div>--}}
                        <div class="edit-profile-button-container edit-profile-button-container1">
                            <button type="button" id="edit-profile-button-container-cancel">Hủy</button>
                            <button type="submit" id="edit-profile-button-save">Lưu thay đổi</button>
                        </div> 
                        {{!-- <div class="edit-profile-button-container"><button type="button" id="edit-profile-button-container-cancel">Hủy</button><button type="submit" id="edit-profile-button-save">Lưu thay đổi</button></div> --}}
                    </div>

                    <label
                        style="margin-top: 30px;margin-bottom: 10px;font-size: 17px;font-weight: 500;color: #7A9ED5;">Thẻ
                        ngân hàng</label>
                    <div class="edit-profile-input">
                        <label for="txtCardID">Mã số thẻ</label>
                        <input type="text" id="txtCardID" name="txtCardID" placeholder="16 chữ số mặt trên của thẻ"
                            required>
                    </div>
                    <div class="edit-profile-input">
                        <label for="txtDueDate">Hiệu lực đến</label>
                        <input id="txtDueDate" type="text" class="date-input" data-language='en' required
                            placeholder="MM/YYYY" data-min-view="months" data-view="months" data-date-format="mm/yyyy"
                            name="txtExpiryDate">
                    </div>
                    <div class="edit-profile-input">
                        <label for="txtCVV">Mã CVV</label>
                        <input type="text" id="txtCVV" pattern="^[0-9]{3}" name="txtCVV" placeholder="3 số CVV"
                            required>
                    </div>
                    <div class="edit-profile-input" style="margin-bottom: 15px">
                        <label for="txtCardHolderName">Tên trên thẻ</label>
                        <input type="text" id="txtCardName" name="txtCardHolderName" placeholder="Tên trên thẻ"
                            required>
                    </div>
                    <div id="charge-error" class="alert alert-danger d-none" style="margin-top: 20px;">

                    </div>
                    <div class="edit-profile-button-container">
                        <button type="submit" id="edit-profile-button-update">Cập nhật</button>
                    </div>
                </form>
            </div>
            <div class="user-account-content-element" id="transaction-history-interface" style="display: none">
                <div id="transaction-history-title" class="row">
                    <div class="col-2">
                        <span>Mã vé</span>
                    </div>
                    <div class="col-3">
                        <span>Thời gian</span>
                    </div>
                    <div class="col-3">
                        <span>Giá tiền</span>
                    </div>
                    <div class="col-4">
                        <span>Ngân hàng</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
                <div class="transaction-history-record row">
                    <div class="col-2">
                        <span>123123123</span>
                    </div>
                    <div class="col-3">
                        <span>19/05/2019</span>
                    </div>
                    <div class="col-3">
                        <span>VND 3,350,000</span>
                    </div>
                    <div class="col-4">
                        <span>BIDV</span>
                    </div>
                </div>
            </div>
            <div class="user-account-content-element" id="my-reservation-interface" style="display: none">
                <div class="reservation-record">
                    <div class="row" style="height: 65px">
                        <div class="col-4 reservation-first-column">
                            <span class="reservation-code-title">Mã vé: &nbsp;&nbsp;<span
                                    class="reservation-code-text">123123123</span></span>
                            <span class="reservation-journey-info">Da Lat → Hanoi</span>
                        </div>
                        <div class="col-4 reservation-second-column">
                            <span class="reservation-arline-name">Vietjet</span>
                            <img src="/images/guest/VietJet.png" class="reservation-arline-img">
                        </div>
                        <div class="col-4 reservation-third-column">
                            <span class="reservation-date">04/05/2019</span>
                            <span class="reservation-price">VND 3,354,000</span>
                        </div>
                    </div>
                    <div class="reservation-more-info-container">
                        <span class="reservation-more-info">Chi tiết chuyến bay</span>
                    </div>
                </div>
                <div class="reservation-record">
                    <div class="row" style="height: 65px">
                        <div class="col-4 reservation-first-column">
                            <span class="reservation-code-title">Mã vé: &nbsp;&nbsp;<span
                                    class="reservation-code-text">123123123</span></span>
                            <span class="reservation-journey-info">Da Lat → Hanoi</span>
                        </div>
                        <div class="col-4 reservation-second-column">
                            <span class="reservation-arline-name">Vietjet</span>
                            <img src="/images/guest/VietJet.png" class="reservation-arline-img">
                        </div>
                        <div class="col-4 reservation-third-column">
                            <span class="reservation-date">04/05/2019</span>
                            <span class="reservation-price">VND 3,354,000</span>
                        </div>
                    </div>
                    <div class="reservation-more-info-container">
                        <span class="reservation-more-info">Chi tiết chuyến bay</span>
                    </div>
                </div>
                <div class="reservation-record">
                    <div class="row" style="height: 65px">
                        <div class="col-4 reservation-first-column">
                            <span class="reservation-code-title">Mã vé: &nbsp;&nbsp;<span
                                    class="reservation-code-text">123123123</span></span>
                            <span class="reservation-journey-info">Da Lat → Hanoi</span>
                        </div>
                        <div class="col-4 reservation-second-column">
                            <span class="reservation-arline-name">Vietjet</span>
                            <img src="/images/guest/VietJet.png" class="reservation-arline-img">
                        </div>
                        <div class="col-4 reservation-third-column">
                            <span class="reservation-date">04/05/2019</span>
                            <span class="reservation-price">VND 3,354,000</span>
                        </div>
                    </div>
                    <div class="reservation-more-info-container">
                        <span class="reservation-more-info">Chi tiết chuyến bay</span>
                    </div>
                </div>
                <div class="reservation-record">
                    <div class="row" style="height: 65px">
                        <div class="col-4 reservation-first-column">
                            <span class="reservation-code-title">Mã vé: &nbsp;&nbsp;<span
                                    class="reservation-code-text">123123123</span></span>
                            <span class="reservation-journey-info">Da Lat → Hanoi</span>
                        </div>
                        <div class="col-4 reservation-second-column">
                            <span class="reservation-arline-name">Vietjet</span>
                            <img src="/images/guest/VietJet.png" class="reservation-arline-img">
                        </div>
                        <div class="col-4 reservation-third-column">
                            <span class="reservation-date">04/05/2019</span>
                            <span class="reservation-price">VND 3,354,000</span>
                        </div>
                    </div>
                    <div class="reservation-more-info-container">
                        <span class="reservation-more-info">Chi tiết chuyến bay</span>
                    </div>
                </div>
                <div class="reservation-record">
                    <div class="row" style="height: 65px">
                        <div class="col-4 reservation-first-column">
                            <span class="reservation-code-title">Mã vé: &nbsp;&nbsp;<span
                                    class="reservation-code-text">123123123</span></span>
                            <span class="reservation-journey-info">Da Lat → Hanoi</span>
                        </div>
                        <div class="col-4 reservation-second-column">
                            <span class="reservation-arline-name">Vietjet</span>
                            <img src="/images/guest/VietJet.png" class="reservation-arline-img">
                        </div>
                        <div class="col-4 reservation-third-column">
                            <span class="reservation-date">04/05/2019</span>
                            <span class="reservation-price">VND 3,354,000</span>
                        </div>
                    </div>
                    <div class="reservation-more-info-container">
                        <span class="reservation-more-info">Chi tiết chuyến bay</span>
                    </div>
                </div>
            </div>
            <div class="user-account-content-element" id="my-point-interface" style="display: none">
                <div id="my-point-container">
                    <div id="my-point-sub-container1">
                        <span id="my-point-text1">Điểm thưởng</span>
                        <span id="my-point-text2">100</span>
                        <span id="my-point-text3">(trị giá VND 500.000)</span>
                    </div>
                    <div id="my-point-sub-container2">
                        <span id="my-point-process-text1">Tiến trình tích điểm</span>
                        <div id="my-point-animation-container">
                            <div id="my-point-animation"></div>
                            <img src="/images/guest/planeBig.png" id="my-point-img">
                            <span id="my-point-process-text2">1400 to go</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> "guest/footer"}}
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/javascripts/guest/user.js"></script>